* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 14px/1.5 'Open Sans', sans-serif;
    color: #FFF;
}

html {
    font-size: 16px;
}

.navbar {
    background-color: #867f79;
}

.navbar a {
    color: #FFF !important;
}

.quemsomos {
    background-color: #6a6762;
    padding: 50px 0px;
}

.rounded-circle {
    margin-bottom: 30px;
}

.parceiros {
    padding: 50px 0px;
    background-color: #948e88;
}

.servicos {
    padding: 50px 0px;
    background-color: #7d756c;
}

.servicos,p,h3 {
    padding: 20px 0px;
}

.bg-footer {
    padding: 50px 0px;
    background-color: #18130c;
}

dl {
    color: red !important;
}